@font-face {
  font-family: 'MyCustomFont';
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


$main-font: 'Inter', sans-serif;