.login-header{
    //text-align: left!important;
    font-size: 50px;
}
.login-header2{
    text-align: left!important;
    font-size: 16px;
    font-weight: 400;
}
.login-input {
    width: 600px!important;
}
.already {
    text-align: center!important;
    display: block;
    margin: 20px 0;
}
.span-links {
    color: #3182CE;
}
.login-image {
    width: 100%;
    height: 100%;
}